<ion-view class="chat-view">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-icon icon back-button ion-arrow-left-c" data-ui-sref="general" data-nav-direction="back"></button>
    </div>
    <h1 class="title">Chat</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="chat-wrapper" ng-controller="chat">
      <div class="chat-content">
          <div ng-repeat="mess in vm.hmessages track by $index">
            <div ng-repeat="i in mess track by $index">
              <strong>{{i.entry.user}}:</strong>
              <span>{{i.entry.such}}</span>
            </div>
          </div>
          <div ng-repeat="message in vm.messages track by $index">
            <strong>{{message.user.name}}:</strong>
            <span>{{message.data}}</span>
          </div>
      </div>
      <form name="chat-form" ng-submit="vm.send()">
        <div class="form-group">
          <input type="text" placeholder="Message" name="user_message" ng-model="vm.textbox">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>

